
**/.terraform/*


*.tfstate
*.tfstate.*


crash.log
crash.*.log


*.tfvars
*.tfvars.json
!terraform.tfvars.example


.terraformrc
terraform.rc

*.tfplan
*.tfplan.*

override.tf
override.tf.json
*_override.tf
*_override.tf.json


*.pem
*.key
id_rsa*
*.pub

.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.swp