

region           = "us-ashburn-1"
tenancy_ocid     = "ocid1.tenancy.oc1..xxxxxxxxxxxxx"
user_ocid        = "ocid1.user.oc1..xxxxxxxxxxxxx"
fingerprint      = "xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx"
private_key_path = "~/.oci/oci_api_key.pem"

compartment_id = "ocid1.compartment.oc1..xxxxxxxxxxxxx"
vcn_cidr       = "10.0.0.0/16"

availability_domains = [
  "AbCd:US-ASHBURN-AD-1",
  "AbCd:US-ASHBURN-AD-2",
  "AbCd:US-ASHBURN-AD-3",
]

ssh_public_key = "ssh-rsa AAAAB3NzaC1yc2E... you@example.com"

kubernetes_version = "v1.29.1"
environment         = "dev"
